@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "quicksand";
  src: url("./assets/font/quicksand.ttf");
}

@layer base {
  .root {
    @apply w-full max-w-[1480px] bg-gray-100/40 shadow-md shadow-gray-400/80 font-[quicksand];
  }

  .first-view-body {
    @apply w-full max-h-[100vh] relative bg-gradient-to-r animate-gradient from-blue-950 to-sky-600 text-white;
  }
}

@utility animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

@utility clip-diagonal {
  clip-path: polygon(50% 87.5%, 80% 0, -85% 0);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}