@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "quicksand";
  src: url("./assets/font/quicksand.ttf");
}

@layer base {
  .root {
    @apply w-full min-w-[320px] max-w-[1480px] bg-gray-100/40 shadow-md shadow-gray-400/80 font-[quicksand];
  }

  .main-layout {
    @apply w-full max-h-[1200px] sm:max-h-[800px] relative bg-gradient-to-r animate-gradient from-blue-950 to-sky-600 text-white;
  }

  .front-face-body {
    @apply relative !py-12 p-6 sm:p-8 md:p-10 lg:p-11 xl:p-12 flex flex-col sm:flex-row items-center justify-center gap-4 sm:gap-8 md:gap-12 z-1;
  }

  .front-face-bg {
    @apply absolute top-0 left-0 z-0 h-[40%] sm:h-[80%] md:h-[100%] object-top-left object-cover clip-diagonal-left-small sm:clip-diagonal-left in-slide-down;
  }

  .front-face-img {
    @apply flex-none w-[60%] sm:w-[50%] md:w-[45%] lg:w-[35%] in-slide-up-fast;
  }

  .front-face-txt {
    @apply flex-none w-[100%] sm:w-[50%] md:w-[45%] lg:w-[42.5%] text-center sm:text-left in-slide-up sm:in-slide-left-slow;
  }

  .features {
    @apply my-24 sm:my-26 md:my-28 flex flex-col sm:flex-row justify-center items-center gap-6 sm:gap-16;
  }

  .feature-img {
    @apply flex-none max-w-[90%] sm:max-w-[35%];
  }

  .feature-txt {
    @apply flex-none max-w-[90%] sm:max-w-[35%] text-center sm:text-left;
  }

  .footer-bg {
    @apply absolute top-0 right-0 z-0 h-[100%] object-top-right object-cover clip-diagonal-right;
  }
}

@utility animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

@utility clip-diagonal-left {
  clip-path: polygon(50% 87.5%, 80% 0, -85% 0);
}

@utility clip-diagonal-left-small {
  clip-path: polygon(0% 90%, 100% 0%, 0% 0%);
}

@utility clip-diagonal-right {
  clip-path: polygon(100% 120%, 100% 0%, 60% 0%, 50% 50%);
}

@utility in-slide-up {
  animation: in-slide-up 1s ease forwards;
}

@utility in-slide-up-fast {
  animation: in-slide-up 0.5s ease forwards;
}

@utility in-slide-up-realfast {
  animation: in-slide-up 0.25s ease forwards;
}

@utility in-slide-down {
  animation: in-slide-down 1s ease forwards;
}

@utility in-slide-down-fast {
  animation: in-slide-down 0.5s ease forwards;
}

@utility in-slide-down-realfast {
  animation: in-slide-down 0.25s ease forwards;
}

@utility in-slide-right {
  animation: in-slide-right 1s ease forwards;
}

@utility in-slide-right-slow {
  animation: in-slide-right 1.5s ease forwards;
}

@utility in-slide-left {
  animation: in-slide-left 1s ease forwards;
}

@utility in-slide-left-slow {
  animation: in-slide-left 1.5s ease forwards;
}

@utility in-slide-left-fast {
  animation: in-slide-left 0.5s ease forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@keyframes in-slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes in-slide-down {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


@keyframes in-slide-right {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes in-slide-left {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}